.bg-login {
	background-image: url("../img/kanisiusbg4.png"); /* sesuaikan path image */
	background-size: cover; /* supaya full screen */
	background-position: center; /* center */
	background-repeat: no-repeat; /* biar ga diulang */
}
